<h1><%= title %></h1>
<div id="error-wrapper">
    <h1><%= message %></h1>
    <div id="error-img">
        <img src="/images/site/car-crash-matt-hudson-5_GRulmDNX0-unsplash.jpg" alt="Toy Car Crash">
    </div>
</div>
